*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#ffffff;
}

.container{
    display:flex;
    gap:20px;
}

.box{
    width:220px;
    background:#c8c4cf;
    padding:25px;
    border-radius:12px;
}

.box h2{
    margin-bottom:15px;
}

.box p{
    color:#444;
    line-height:1.6;
}